@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0;
    font-family: "DM Sans",sans-serif;
    font-size: 18px;
    background-color: hsl(27, 66%, 92%);
}
h1,h2,h3{
    color:  hsl(25, 47%, 15%);
}
p{
    color: hsl(28, 10%, 53%);
}
.soft-red{
    background-color:hsl(10, 79%, 65%);
}

canvas:hover{
    cursor:pointer
}